<div fxLayoutAlign="center center mat-elevation-z5" fxFlexFill>
    <mat-card fxFlex="25">
        <form class="login" fxLayoutAlign="stretch" fxLayout="column" class="logInForm">
            <mat-toolbar color= "primary" class="mainDiv">Sign Up</mat-toolbar>
            <mat-form-field>
              <!-- <mat-label>User Name</mat-label> -->
              <input matInput placeholder="User Name">
            </mat-form-field>
            <mat-form-field>
                <!-- <mat-label>User Name</mat-label> -->
                <input matInput placeholder="Phone Number">
              </mat-form-field>
            <mat-form-field>
                <!-- <mat-label>User Name</mat-label> -->
                <input matInput placeholder="Email">
              </mat-form-field>
          
            <mat-form-field>
                <!-- <mat-label>Password</mat-label> -->
                <input matInput placeholder="Password" type="password">
            </mat-form-field>
            <mat-form-field>
                <!-- <mat-label>Password</mat-label> -->
                <input matInput placeholder="Re-enter Password" type="password">
            </mat-form-field>
            <button mat-raised-button type='submit'>Sign Up</button>
          </form>
          
    </mat-card>
</div>
