.banner{
/* 
    min-height: 395px;
    margin-top: -30px;
    background-image: url(../../../assets/home_banner.png) ;
    
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 530px;
    margin-top: -30px;
    background-image: url(../../../assets/home_banner.png);
    width: 100%;
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
    background-position: 77% 46%;

}
.card-group > .card {
     margin-bottom: 0px;
     border-radius: 0;
     border-color: transparent;
}
.home-img{
    width: 100%;
    height:100%;
    margin-top: -30px;

}
.btnGlow{
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
}
@keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }

button.btn-shopNow{
    width: 189px;
    align-self: center;
    margin-top: 1.2em;
    background-color: #619f7b;
    color: white;
    font-size: 1.4em;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    height: 60px;
    border-radius: 0 !important;
    transition: all .3s ease-in-out;
}
button.btn-shopNow:hover{
   
    /* background-color: #fdff5d; */
    color: black;
    /* background-color: #619f7b; */
    /* border-color: #619f7b; */
    
    background-color: #fdff5d;

}


.discount{
    /* font-family: Poppins;
    font-size: 2.8vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.22px;
    margin: .5em;
    margin-top: 3em; */
    font-family: Poppins;
    font-size: 2.3vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.22px;
    margin: .5em;
    margin-top: 2.5em;
}
.discount-content{
    border-bottom: 1.6vw solid #fdff5d;
}

.heading{
    text-transform: uppercase;
    margin: 0.6em;
    font-family: Poppins;
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: 6.82px;
    animation: mymove 5s;
    animation-timing-function: ease-in;
}
@keyframes mymove {
    from {left: -100px;}
    to {left: 0px;}
  }
.sub-heading{
    /* text-transform: uppercase;
    letter-spacing: 0.73px;
    font-family: Roboto;
    font-size: 1.5em;
    padding: .2em; */
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Poppins;
    font-size: 2.5vw;
    padding: .2em;
    line-height: 3vw;
    /* margin-top: 1em; */
    font-weight: 300;

}

.border-transparent{
    border: transparent;
}
.cat-card{
    height: 300px;
    overflow: hidden;
}
.cat-card img{
    /* height: 165px;
    width: 150px;
    position: absolute;
    left: -71px;
    top: 41px; */
    /* height: 100%;
    position: absolute; */
    left: -50px;
    height: 80%;
    position: absolute;
    margin-top: 5% !important;
    /* left: -24%;
    top: 41px; */
}
.cat-card h3{
  
    color: #9a9fa2 !important;
    text-transform: uppercase;
    font-family: Poppins !important;
    font-size: 2.6em !important;
    font-weight: 600 !important;
    margin-bottom: 8px;
    margin-top: 60px;
    letter-spacing: 3px;
}
.subHeading{
    color:#9a9fa2 !important;
    text-transform: uppercase;
    /* margin: 0.6em; */
    font-family: Poppins;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 3px;
}
.pricingRange{
    /* text-transform: uppercase; */
    /* margin: 0.6em; */
    font-family: Poppins;
    display: block;
    /* font-weight: 600; */
    margin-top: 2em;
    font-size: 1.3em;
    margin-bottom: 2em;
}

.right button{
    background-color: white;
    color: black;
    /* width: 35px; */
}
.img-move{
    /* transform: translate3d(-15px, 0, 0); */
    transform: translate3d(-22%, 0, 0);
    transition: all .3s ease;
    will-change: transform;
}
.img-move:hover{
    transform: none;
}


.left, .right{
    height: 100% ;
}
.left{
    width: 40%;
}
.right{
    z-index: 5;
    margin-left: 7%;
}
/* .right{
    width: 60%;
} */
.card-option{
    flex-direction: row;
    border-radius: 0;
    border-color: transparent;
}

.bgGift{
    background: #f5f5e9;
}
.bgDetox{
    background: #e1eded;
}
.bgSummer{
    background: #e9eddc;
}
.bgDryFruits{
    background: #f5ece0;
}
.icon{
    font-size: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.subTitle{
    text-transform: uppercase;
    /* margin: 0.6em; */
    font-family: Poppins;
    font-size: 2.2em;
    font-weight: 600;
    color:white !important;
    text-align: center;
    line-height: 1em;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-9-8 20:33:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */

  

  .slick-slider {
    width: 90%;
    margin: auto;
    justify-self: center;
    justify-content: center;
    /* background: #000; */
  }
  .slick-slider .card{
    min-width: 275px;
    margin: 5px 3px;
    /* margin: 0 3px; */
    max-width: 405px
  }
  .swiper-card{
    font-family: Poppins;
     /* width: 333px; */
     border-color: transparent;
     /* width: 245px; */
     /* height: 300px; */
     border-radius: 5px;
     border: 0;
     margin: 0 3px;
     box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.3);
 
}
    
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  /* .prev-slide {
    background: url(../../../assets/back.png) no-repeat scroll 0 0;
    left: -33px;
  }
  
  .next-slide {
    background: url(../../../assets/back.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
  
  .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  } */
  

 
 .input-subscribe{
     
    width: 70%;
    /* min-width: 300px;     */
    height: 55px;
    border: 0;  
    font-size: 1.2em; 
    font-family: Poppins;
 }
 .ip-btn{
     height: 55px;
 }
 .subscribe{
    background-image: url(../../../assets/subscribe.png) ;
    min-height: 250px;
    width: 100%;background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe-content span{
    display: block;
    font-family: Poppins;
}
.subscribe-content span:first-child{
    font-size: 2.65em;
    
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2.4em;
    letter-spacing: 2px;
    text-align: center;

}
.subscribe-content span:nth-child(2){
    /* font-size: 2.3vw; */
    font-size: 2.65em;

    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1em;
    letter-spacing: 5px;
    text-align: center;
}
.subscribe-content span:nth-child(3){

    font-size: .7em;
    margin-top: .8em;
    text-align: center;

    /* text-transform: uppercase;
    font-weight: 700;
    margin-top: .3em; */
}
.bookNow-img{
    height: 85px !important;
    width: 76px !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    margin-left: 2em;
}
.fab-btn{
    position: absolute;
    top: 43%;
    z-index: 1;
    /* font-size: 1em; */
    color: white;
    background: #63b846;
    /* border: 0; */
    outline: none !important;
}

.why-vitapure{
    border: 3px solid #63b846;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 345px;
    font-size: 2em;
    cursor: pointer;
}
.why-title{
    display: block;
    color: #707070 !important;
    text-transform: uppercase;
    font-family: Poppins !important;
    font-size: 2vw !important;
    font-weight: 600 !important;
}
.why-desc{
    color: #707070 !important;
    text-align: center;
    font-family: Poppins !important;
    font-size: 1vw !important;
    line-height: 1.2vw;
}
.arrBack{
    left: 1%
}
.arrNext{
    right: 1%
}
@media only screen and (max-width: 719px) {
    .heading{
        font-size: 1.8em;
        /* padding: .3em; */
        
      }
      .discount{
        font-size: 4vw;
      }
      .sub-heading {
          font-size: 1.3em;
    }
    .section-md-sm{
        margin : 1em !important;
    }
    .section-container{
        margin: 3em;
    
    }
    .subscribe-content span:first-child ,.subscribe-content span:nth-child(2){
        font-size: 2em;
       
    
    }
    .subscribe{
        min-height: 300px;
    }
  
}
@media (max-width: 576px) {
    .arrBack{
        left: -3.5%
    }
    .arrNext{
        right: -3.5%;
    }
    .natural-img {
        width: 19vw;
        height: 19vw;
    
    }
    .subscribe-content2{
        padding: 0;
        margin: 3px 0;
    }
    .btn-sub{
        width: 28%;
        font-size: .8em;
    }
  }
 @media only screen and (min-width:480px) and (max-width: 719px) {
    /* .heading{
        font-size: 1.8em;
        padding: .3em;
        
      }
      .sub-heading {
          font-size: 1.3em;
    } */
      /* .cat-Container img {
        height: 14em;
        width: 14em;
    } */
 }
 /* for laptops and above */
 @media only screen and (min-width: 992px){
    /* .cat-card img {
        left: -16%;
    } */
  
 }
/* 
 @media (max-width: 520px){
 
 } */

 @media (max-width: 599px){
    .banner{
     margin-top: 0px;
     min-height: 280px;
     
 }
 button.btn-shopNow {
    width: 121px;
    font-size: 1em;
    height: 44px;
  }
 
   .subTitle{
 
     font-size: 1.8em;
 }
 .cat-card {
    height: 90px;
}
.cat-card img {
    left: 50px !important;
    height: 104%;
    position: absolute;
    margin-top: 0 !important;
    /* margin-top: 5% !important; */
}

.right button{
    position: absolute;
    top: 21px;
    right: 33px;    
}
.cat-card h3{
    font-size: 1.2em !important;
    margin-bottom: 3px;
    margin-top: 6px;
}
.subHeading{
    font-size: 1.1em;
}
.pricingRange {
    margin-top: 1em;
    font-size: .9em;
    margin-bottom: 0;
    /* margin-bottom: 2em; */
}


 }