<!-- <p>checkout works!</p> -->

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 2 ================================= -->
        <div id="myCheckoutPayPal" class="row">
            <aside class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="mb-3">Overview</h4>
                        <dl class="dlist-align">
                            <dt class="text-muted">Delivery:</dt>
                            <dd>Pick-up</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt class="text-muted">Delivery type:</dt>
                            <dd>Standart</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt class="text-muted">Payment method:</dt>
                            <dd>Card</dd>
                        </dl>
                        <hr>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="h5">$300.50</dd>
                        </dl>
                        <hr>
                        <p class="small mb-3 text-muted">By clicking you are agree with terms of condition </p>
                        <a href="#" class="btn btn-primary btn-block"> Make Payment  </a>

                    </div>
                    <!-- card-body.// -->
                </div>
                <!-- card.// -->
            </aside>
            <!-- col.// -->
        </div>
        <!-- row.// -->

        <!-- ============================ COMPONENT 2 END//  ================================= -->

    </div>
    <!-- container .//  -->
</section>


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
    <div class="container">
        <p class="float-md-right">
            &copy; Copyright 2021 All rights reserved
        </p>
        <p>
            <a href="#">Terms and conditions</a>
        </p>
    </div>
    <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->